main
{
  border: 1px solid black;
  margin: 0 auto;
  width: 80vw;
  background: linear-gradient(#67ee2db0, #e65502);
}
h1
{ 
    color:red;
    font-family: 'Sriracha', cursive;
    margin-left: 50px;
    border-bottom: 1px solid blue;
}
h2,h3
{ 
    color:red;
    font-family: 'Sriracha', cursive;
    margin-left: 50px;
}
blockquote 
{ 
    background-color: lightgray;
    padding: 1rem;
    margin-left: 125px;
}

p,ul,a
{
    margin-left: 75px;
}
footer p 
{
    color:blueviolet;

}
footer
{
    border-bottom: 1px solid blue;
}
body
{
    font-family: 'Roboto', sans-serif;
    background:black;

}
img
{
     float:right; margin: 0 12px;
}
a:link
 {
    color: rgb(0, 34, 128);
  }
  
  a:visited 
  {
    color: rgb(168, 3, 119);
  }
  
  a:hover 
  {
    color: red;
  }
  
  a:active 
  {
    color: yellow;
  }
